


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                     <ul class="navbar-nav m-auto">
                         <li class="nav-item m-auto">
                             <a class="nav-link" href="index.html">Home</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="category.html">Categories</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="product.html">Product</a>
                         </li>
                         <li class="nav-item active">
                             <a class="nav-link" href="contact.html">Cart <span class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="contact.html">Contact</a>
                         </li>
                     </ul>

                     <form class="form-inline my-2 my-lg-0">
                         <div class="input-group input-group-sm">
                             <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                             <div class="input-group-append">
                                 <button type="button" class="btn btn-secondary btn-number">
                                     <i class="fa fa-search"></i>
                                 </button>
                             </div>
                         </div>
                         <a class="btn btn-success btn-sm ml-3" href="cart.html">
                             <i class="fa fa-shopping-cart"></i> Cart
                             <span class="badge badge-light">3</span>
                         </a>
                     </form>
                 </div>

          <section class="jumbotron text-center">
             <div class="container">
                 <h1 class="jumbotron-heading">E-COMMERCE SALT</h1>
              </div>
          </section>

          <div class="container mb-4">
             <div class="row">
                 <div class="col-12">
                     <div class="table-responsive">
                         <table class="table table-striped">
                             <thead>
                                 <tr>
                                     <th scope="col"> </th>
                                     <th scope="col">Product</th>
                                     <th scope="col">Available</th>
                                     <th scope="col" class="text-center">Quantity</th>
                                     <th scope="col" class="text-right">Price</th>
                                     <th> </th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr *ngFor = "let produk of list.value; let i = index">
                                     <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                     <td>{{produk.produk.name}}</td>
                                     <td>In stock</td>
                                     <td><input class="form-control" type="text" value="1" /></td>
                                     <td class="text-right">Rp {{produk.produk.price}}</td>
                                     <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                 </tr>
                                 <tr>
                                     <td></td>
                                     <td></td>
                                     <td></td>
                                     <td></td>
                                     <td><strong>Total</strong></td>
                                     <td class="text-right"><strong>346,90 €</strong></td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
                 <div class="col mb-2">
                     <div class="row">
                         <div class="col-sm-12  col-md-6">
                             <button class="btn btn-block btn-light">Continue Shopping</button>
                         </div>
                         <div class="col-sm-12 col-md-6 text-right">
                             <a href="checkout:id" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                         </div>
                     </div>
                 </div>
             </div>
          </div>


            </div>
            </div>
        </div>
      </div>
