   <div class="container">

     <div class="md-form">
  <input type="search" id="form-autocomplete" class="form-control mdb-autocomplete">

  <label for="form-autocomplete" class="active">What is your favorite Product?</label>
</div>


  <div class=" p-4 p-md-10 text-white bannerBg bannerSize">
    <div class="">
      <h1 class="display-4 font-italic titlegreen"><br/></h1>
      <p>
        <i>Take all in your hand</i>
        <br />
        <button class="btn btn-outline-success">Get App</button>
      </p>
    </div>
  </div>
  <h2 class="newproduct">New Products</h2>

  <div class="row mb-2 containerCard">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Banana Is a fruite</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/img/banner/tas.jpeg"  >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/img/banner/kameja.png" >
        </div>
      </div>
    </div>
    <app-productorder></app-productorder>

  </div>

<div class="scrollmenu">
  <a class="p-2 text-muted bg-primary text-danger" routerLink="product">All Products</a>
  <a class="p-2 text-muted" routerLink="elektronik">Electronik</a>
  <a class="p-2 text-muted" routerLink="product">Pakaian Anak</a>
  <a class="p-2 text-muted" href="#">Alat Dapur</a>
  <a class="p-2 text-muted" href="#">Mainan</a>
  <a class="p-2 text-muted" href="#">Aksesoris</a>
  <a class="p-2 text-muted" href="#">Electronik</a>
  <a class="p-2 text-muted" href="#">Laptop</a>
  <a class="p-2 text-muted" href="#">SmartPhone</a>
  <a class="p-2 text-muted" href="#">Sepatu</a>
  <a class="p-2 text-muted" href="#">ATK</a>
  <a class="p-2 text-muted" href="#">Tiket</a>
</div>
